.list-cat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    color: #fff;
    padding: 20px;
}

body{
    align-items: center;

}

#searchbar{
    margin: 20px;
}

footer {
    background-color: aquamarine;
    color: #fff;
    padding: 20px;
    text-align: center;
}


