.list-cat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
<<<<<<< HEAD
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    color: #fff;
    padding: 20px;
}

body{
    align-items: center;

}

footer {
    background-color: aquamarine;
    color: #fff;
    padding: 20px;
    text-align: center;
}

=======
}
>>>>>>> c235b049ce7670f7f35ce611cca7167146e8049e
